openapi: 3.1.0
info:
  title: Prestmit Partner Bank Accounts Wallet API
  description: 'The Prestmit Partner API allows developers to automate buying and selling of

    gift cards, manage wallet balances and payouts, and integrate Prestmit

    transactions into their own applications. Authentication is performed via an

    x-api-key header, with optional IP whitelisting. A sandbox environment is

    available for development.

    '
  version: '1.0'
  contact:
    name: Prestmit Developer Support
    url: https://prestmit.io/developers
  license:
    name: Prestmit Terms of Service
    url: https://prestmit.io/terms-of-service
servers:
- url: https://api.prestmit.io
  description: Production
- url: https://dev-api.prestmit.io
  description: Sandbox
security:
- apiKey: []
tags:
- name: Wallet
  description: Wallet balance and fiat withdrawal management.
paths:
  /api/partners/v1/wallet/fiat/details:
    get:
      tags:
      - Wallet
      summary: Fetch wallet details
      operationId: getWalletDetails
      responses:
        '200':
          description: Wallet details.
  /api/partners/v1/wallet/fiat/create-withdrawal:
    post:
      tags:
      - Wallet
      summary: Request a fiat withdrawal
      operationId: createWalletWithdrawal
      responses:
        '201':
          description: Withdrawal initiated.
  /api/partners/v1/wallet/fiat/withdrawal-history:
    get:
      tags:
      - Wallet
      summary: List withdrawal history
      operationId: getWalletWithdrawalHistory
      responses:
        '200':
          description: Withdrawal history.
  /api/partners/v1/wallet/fiat/withdrawal-history/{withdrawalId}/receipt:
    get:
      tags:
      - Wallet
      summary: Get withdrawal receipt
      operationId: getWalletWithdrawalReceipt
      parameters:
      - name: withdrawalId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Withdrawal receipt.
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: 'Prestmit Partner API key issued from the developer dashboard. Optional

        IP whitelisting can be enabled per key.

        '
