openapi: 3.1.0
info:
  title: Prestmit Partner Bank Accounts Gift Cards - Sell API
  description: 'The Prestmit Partner API allows developers to automate buying and selling of

    gift cards, manage wallet balances and payouts, and integrate Prestmit

    transactions into their own applications. Authentication is performed via an

    x-api-key header, with optional IP whitelisting. A sandbox environment is

    available for development.

    '
  version: '1.0'
  contact:
    name: Prestmit Developer Support
    url: https://prestmit.io/developers
  license:
    name: Prestmit Terms of Service
    url: https://prestmit.io/terms-of-service
servers:
- url: https://api.prestmit.io
  description: Production
- url: https://dev-api.prestmit.io
  description: Sandbox
security:
- apiKey: []
tags:
- name: Gift Cards - Sell
  description: Sell gift cards and configure payout methods.
paths:
  /api/partners/v1/giftcard/trade/sell/rate-calculator-data:
    get:
      tags:
      - Gift Cards - Sell
      summary: Fetch rate calculator data
      operationId: getSellRateCalculatorData
      responses:
        '200':
          description: Rate calculator data.
  /api/partners/v1/giftcard/trade/sell/payout-methods:
    get:
      tags:
      - Gift Cards - Sell
      summary: List payout method options
      operationId: getSellPayoutMethods
      responses:
        '200':
          description: Payout options.
  /api/partners/v1/giftcard/trade/sell/create:
    post:
      tags:
      - Gift Cards - Sell
      summary: Initiate a gift card sale
      operationId: createSellTransaction
      responses:
        '201':
          description: Sale initiated.
  /api/partners/v1/giftcard/trade/sell/history:
    get:
      tags:
      - Gift Cards - Sell
      summary: List gift card sales history
      operationId: getSellHistory
      responses:
        '200':
          description: Sales history.
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: 'Prestmit Partner API key issued from the developer dashboard. Optional

        IP whitelisting can be enabled per key.

        '
